@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  color: #575F7D;
  font-size: 17px;
  font-weight: 300;
  background-color: #EEEDEB;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #939185;
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  color: #939185;
  font-size: 20px;
  font-weight: 500;
}

ul {
  list-style-type: disc;
  padding: 0; /* 去除默认内边距 */
}

li {
  display: inline-block; /* 修改为 inline-block */
  padding: 0 20px; /* 添加内边距 */
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #E6B9A6;
  font-weight: 600;
  font-size: 16px;
}

.container {
  width: 500px; /* 设置宽度 */
  margin: 0 auto; /* 中心对齐 */
}

.card {
  background-color: #ffffff; /* 背景颜色 */
  border: 0.5px solid #d1d1d1; /* 边框颜色 */
  border-radius: 8px; /* 边框圆角 */
  padding: 20px; /* 内边距 */
  margin: 10px 0; /* 外边距 */
  box-shadow: 0 4px 8px rgba(245, 204, 204, 0.1); /* 投影效果 */
  text-align: center; /* 文本居中对齐 */
}

/* 使图片圆形 */
.card img {
  border-radius: 50%; /* 圆形 */
  border: none; /* 去除边框 */
}

.card a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #e6b9a6; /* 背景颜色 */
  color: #fff; /* 文字颜色 */
  text-decoration: none; /* 去掉下划线 */
  border-radius: 5px; /* 圆角 */
  font-weight: bold; /* 加粗文字 */
}

.card a:hover {
  background-color: #d89a8e; /* 悬停时的背景颜色 */
}

.video_container {
  position: fixed; /* 固定定位，覆盖整个屏幕 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 隐藏超出的内容 */
  z-index: -1; /* 将视频放在所有内容的下面 */
}

video {
  position: absolute; /* 绝对定位 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持视频比例并填充容器 */
}

.profile-card img {
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 图片阴影 */
}

.skills-card ul {
  list-style-type: none; /* 移除默认的列表样式 */
  padding: 0;
}

.skills-card li {
  font-size: 16px;
  padding: 5px 0;
}

.projects-card p {
  font-size: 16px;
  margin: 10px 0;
}

.contact-card {
  text-align: center; /* 联系方式居中 */
}

.contact-card a {
  display: inline-block;
  margin: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
